# PYTHON BASICS

In [1]:
print("Hello world")

Hello world

In [2]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

---
# variables & data types

In [6]:
print("There ones was a man named John,")
print("He was 70 years old.")
print("He really liked the name John,")
print("But he didnot like the age 70")

There ones was a man named John,
He was 70 years old.
He really liked the name John,
But he didnot like the age 70

In [7]:
character_name = "Bob"
character_age = "35"

print("There ones was a man named " + character_name + ",")
print("He was " + character_age + " years old.")
print("He really liked the name " + character_name + ",")
print("But he didnot like the age " + character_age + ".")

There ones was a man named Bob,
He was 35 years old.
He really liked the name Bob,
But he didnot like the age 35.

In [8]:
character_name = "Bob"
character_age = "35"

print("There ones was a man named " + character_name + ",")
print("He was " + character_age + " years old.")

# variables can be renewed on the road.

character_name = "Tom"

print("He really liked the name " + character_name + ",")
print("But he didnot like the age " + character_age + ".")

There ones was a man named Bob,
He was 35 years old.
He really liked the name Tom,
But he didnot like the age 35.

In [10]:
a = 35 #integer
b = 45.6789

c = a+b

print(c)

80.6789

---
# working with strings

In [19]:
print("Giraffe Academy")
print("Giraffe\nAcademy") # New line
print("Giraffe\Academy")  # Backslah
print("Giraffe\"Academy") # Adding qoutation mark to a string

phrase = "Giraffe Academy"
print(phrase)
print(phrase + " is cool") # concatanation

print(phrase.upper()) # Using functions
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))

print(phrase[0]) # Using index
print(phrase[4])
print(phrase[4:6]) # 4th char. included 6 is not
print(phrase[:4]) # First 4 char.
print(phrase[4:]) # Last 11 char.
print(phrase.index("f")) # Brings index of frist "f"
print(phrase.index("Aca")) # Brings index of start of "Aca
print(phrase.replace("Giraffe", "Elephant"))

Giraffe Academy
Giraffe
Academy
Giraffe\Academy
Giraffe"Academy
Giraffe Academy
Giraffe Academy is cool
GIRAFFE ACADEMY
False
True
15
G
f
ff
Gira
ffe Academy
4
8
Elephant Academy

---
# working with numbers

In [27]:
print(2)
print(2.78484)
print(-2.78484)
print(4 + 5.65)
print(4 + 5.65 * 9)
print((4 + 5.65) * 9)
print(10 % 3) # Reminder

num = -5
print(num)
print(str(num)) # Converting the type
print(abs(num))
print(pow(2,5))
print(max(2,5))
print(min(2,5))
print(round(2.4))
print(round(2.6))

from math import *

print(floor(2.5))
print(ceil(2.5))
print(sqrt(81))

2
2.78484
-2.78484
9.65
54.85
86.85000000000001
1
-5
-5
5
32.0
5
2
2
3
2
3

---
# getting input from user

In [28]:
name = input("Enter your name: ")
print("Hello " + name + "!")

Enter your name: Mike
Hello Mike!

In [30]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + "! " + "Your age is " + age + ".")

Enter your name: Mike
Enter your age: 29
Hello Mike! Your age is 29.

---
# building a basic calculator

In [31]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
result = num1 + num2
print(result)

Enter first number: 3
Enter second number: 4
34

In [32]:
# We need to convert str to int.

num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
result = int(num1) + int(num2)
print(result)

Enter first number: 3
Enter second number: 4
7

In [33]:
# Float will be better.

num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
result = float(num1) + float(num2)
print(result)

Enter first number: 3.5
Enter second number: 5
8.5

---
# mad libs game

In [36]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Enter a color: Yellow
Enter a plural noun: Tables
Enter a celebrity: Liv Tylor
Roses are Yellow
Tables are blue
I love Liv Tylor

---
# list

In [40]:
friends = ["Kevin", "Karen", "Jim"]
print(friends)
print(friends[0])
print(friends[-1]) # From back

friends[1] = "Bob"
print(friends[1])

['Kevin', 'Karen', 'Jim']
Kevin
Jim
Bob

In [41]:
lucky_numbers = [2, 5, 7, 9]
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Bob', 'Jim', 2, 5, 7, 9]

In [42]:
friends.append("Karen")
print(friends)

['Kevin', 'Bob', 'Jim', 2, 5, 7, 9, 'Karen']

In [43]:
friends.insert(4,"Jack")
print(friends)

['Kevin', 'Bob', 'Jim', 2, 'Jack', 5, 7, 9, 'Karen']

In [44]:
friends.remove("Kevin")
print(friends)

['Bob', 'Jim', 2, 'Jack', 5, 7, 9, 'Karen']

In [45]:
print(friends.index("Jack"))

3

In [47]:
friends.reverse()
print(friends)

['Karen', 9, 7, 5, 'Jack', 2, 'Jim', 'Bob']

---
# Tuples

In [48]:
# imutable

coordinates = (5, 6)
print(coordinates)

(5, 6)

---
# Functions

In [52]:
def say_hi () :
    print("Hello user")
    
say_hi()

# All lower character names for functions better.

Hello user

In [53]:
def say_hi (name) :
    print("Hello " + name + "!")
    
say_hi("Mike")
say_hi("Tom")

Hello Mike!
Hello Tom!

In [56]:
def say_hi (name, age) :
    print("Hello " + name + " you are " + age + "!")
    
say_hi("Mike", "35" )
say_hi("Tom", "50")

Hello Mike you are 35!
Hello Tom you are 50!

---
# return statement

In [59]:
# Sometimes we need a function to return some information to us

def cube(num) :
    return num*num*num
cube(3)

27

---
# if statements

In [64]:
# Creating a boolean variable

is_male = True

if is_male :
    print("You are a male.")

You are a male.

In [65]:
is_male = False

if is_male :
    print("You are a male.")
else :
    print("You are not a male.")

You are not a male.

In [67]:
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both.")
else :
    print("You neither a male nor tall.")

You are a male or tall or both.

In [68]:
is_male = False
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both.")
else :
    print("You neither a male nor tall.")

You are a male or tall or both.

In [69]:
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both.")
else :
    print("You neither a male nor tall.")

You neither a male nor tall.

In [70]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male.")
else :
    print("You either not male nor tall or both.")

You are a tall male.

In [72]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a tall male.")
else :
    print("You either not male nor tall or both.")

You either not male nor tall or both.

In [73]:
is_male = False
is_tall = False

if is_male and is_tall:
    print("You are a tall male.")
else :
    print("You either not male nor tall or both.")

You either not male nor tall or both.

In [78]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male.")
elif is_male and not is_tall:
    print("You are a short male.")
elif not is_male and is_tall:
    print("You are a short male.")
else :
    print("You either not male nor tall or both.")

You are a short male.

In [80]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a tall male.")
elif is_male and not is_tall:
    print("You are a short male.")
elif not is_male and is_tall:
    print("You are not a male but are tall.")
else :
    print("You either not a male nor tall or both.")

You are not a male but are tall.

---

# if statements & comparisons

In [81]:
# Finding max number

def max_num(n1, n2, n3):
    if n1 >= n2 and n1 >= n3:
        return n1
    elif n2 >= n1 and n2 >= n3:
        return n2
    else:
        return n3
    
print(max_num(3,5,9))

9

---

# building a better calculator

In [82]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1+num2)
elif op == "-":
    print(num1-num2)
elif op == "/":
    print(num1/num2)
elif op == "*":
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number: 8
Enter operator: *
Enter second number: 9
72.0

---

# dictionaries

In [85]:
month_conversion = {"Jan" : "January", "Feb" : "February", "Mar" : "March"}

print(month_conversion["Jan"])
print(month_conversion.get("Feb"))

January
February

---

# while loops

In [1]:
i = 1

while i <= 10:
    print(i)
    i = i + 1
    
print("Done with loop.")

1
2
3
4
5
6
7
8
9
10
Done with loop.

---
# building a guessing game

In [2]:
secret_word = "Giraffe"
guess = ""

while secret_word != guess :
    guess = input("Enter your guess: ")
    
print("you win!!!")

Enter your guess: panda
Enter your guess: bear
Enter your guess: Giraffe
you win!!!

In [5]:
#Developing game, adding guess limitation

secret_word = "Giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while secret_word != guess and not (out_of_guesses) :
    
    if guess_count < guess_limit :
        guess = input("Enter your guess: ")
        guess_count = guess_count + 1
    else:
        out_of_guesses = True
    
if out_of_guesses :
    print("you lose!!!")
else:
    print("you win!!!")

Enter your guess: bear
Enter your guess: panda
Enter your guess: yath
you lose!!!

---

# for loop

In [6]:
for letter in "Giraffe Academy":
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(7, 10):
    print(i)

7
8
9

---
# Exponent function

In [9]:
print(2**3)

8

In [12]:
# with using loops

def power(base_num, power_num):
    result = 1
    for i in range(power_num):
        result = result*base_num
    return result
power(2, 3)
print(power(2, 3))

8

---

# 2d lists & nested loops

In [13]:
num_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

# Accessing an element
print(num_grid[0][0])

1

In [14]:
for row in num_grid:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [15]:
for row in num_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

---

# building a translator

In [20]:
# in giraffe language every vovels are equal to g

def translate(phrase):
    translation = ""
    for l in phrase:
        if l in "AEIOUaeiou":
            translation = translation + "g"
        else:
            translation = translation + l
       
    return translation

print(translate("bear"))
print(translate("To be or not to be"))

bggr
Tg bg gr ngt tg bg

---
# try except

In [21]:
num = int(input("Enter a number: "))
print(num)

Enter a number: dfg

ValueError: invalid literal for int() with base 10: 'dfg'

In [22]:
# if user enters something other than number
try:
    num = int(input("Enter a number: "))
    print(num)
except:
    print("invalid input")

Enter a number: jhdkjs
invalid input

---
# classes & objects

In [23]:
# classes are like new data types that python does not include

class Student:
    
    def __init__(self, name, collage, gpa, is_on_probation):
        self.name = name
        self.collage = collage
        self.gpa = gpa
        self.is_on_probation = is_on_probation

In [24]:
st1 = Student("jim", "bussness", 3.1, False)

print(st1.name)

jim

In [25]:
st2 = Student("jane", "art", 2.5, True)
print(st2.gpa)

2.5

---
# building a multiple choice quiz

In [34]:
question_prompts = [
    "What color are apples?\n(a) red/green\n(b) purple\n(c) magenta\n\n",
    "What color are bananas?\n(a) red\n(b) yellow\n(c) magenta\n\n",
    "What color are strawberries?\n(a) red\n(b) yellow\n(c) blue\n\n"
]

class Question:
    
    def __init__(self, prompt, answer):
        self.prompt = prompt
        self.answer = answer
        
questions = [
    Question(question_prompts[0], "a"),
    Question(question_prompts[1], "b"),
    Question(question_prompts[2], "c"),
]

def run_test(questions):
    score = 0
    for question in questions:
        answer = input(question.prompt)
        if answer == question.answer:
            score += 1
    print("You got " + str(score) + "/" + str(len(questions)) + " correct")
    

run_test(questions)

What color are apples?
(a) red/green
(b) purple
(c) magenta

a
What color are bananas?
(a) red
(b) yellow
(c) magenta

b
What color are strawberries?
(a) red
(b) yellow
(c) blue

c
You got 3/3 correct

---
# inheritance

In [35]:
class Chef:
    def make_chicken(self):
        print("The chef makes chicken.")
        
    def make_salad(self):
        print("The chef makes salad.")
    
    def make_special_dish(self):
        print("The chef makes special dish.")
        
        
Mychef = Chef()
Mychef.make_chicken()
Mychef.make_salad()

The chef makes chicken.
The chef makes salad.

In [37]:
# New Chines chef can do all of the things a chef can do, and he has some pluses

class Chines_chef(Chef):
    def make_rice(self):
        print("The chef makes rice.")
        
Mychineschef = Chines_chef()

Mychineschef.make_chicken()
Mychineschef.make_rice()

The chef makes chicken.
The chef makes rice.